/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

#wrapper {
	margin-left: 0px;
}
.menu {
	position: absolute;
	top: 0;
	margin-left: -300px;
	z-index: 200;
	padding: 20px;
	background: #3c3c3c;
	width: 300px;
	height: 100%;
	color: white;
}

.menu_button {
	position:absolute;
	top: 10px;
	right: 10px;
	z-index:100;
	padding: 0;
	background: transparent;
}

.mini_menu {
	color: #c0c0c0;
}

.mini_menu h6 {
	float:left;
	padding-left: 0px;
	padding-right: 10px;
}


.splash {
	background: #00a79d;
	text-align: center;
	width: 100%;
	padding-top: 150px;
	height: auto !important;
	min-height: 100%;
	position: relative;
	color: white;
}

.intro {
	text-align: center;
	min-height: 600px;
	padding-top: 150px;
}

.page_head {
	text-align: center;
	min-height: 200px;
	padding-top: 80px;
	background: #3c3c3c;
	color: white;
}

.page_head h1, .explore_head h1 {
	padding-bottom: 0px;
}

.image_3 {
	opacity: 0.75;
	padding: 50px 0 50px 0;
}

.explore_head {
	text-align: center;
	min-height: 200px;
	padding-top: 80px;
	background: #40beb4;
	color: white;
}


.featured {
	padding: 50px 0 50px 0;
	text-align: center;
	min-height: 600px;
	background: #40beb4;
	color: white;
}

.role_box {
	text-align: left;
	border:solid #3c3c3c;
	border-width:2px;
	padding: 20px;
	min-height: 150px;
	height: 150px;
	margin: 0 auto;
	color: #3c3c3c;
}.role_box:hover {
	border-width: 3px;
	position: relative;
	color: #3c3c3c;
}


/* Tablet Portrait size to standard 960 (devices and browsers) */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .role_box                { font-size: 90%; min-height: 175px; height: 175px;}
}  


.mini_story  {
	text-align: left;
	border:solid #3c3c3c;
	border-width:2px;
	padding: 20px;
	margin-bottom: 20px;
		color: #3c3c3c;
} .mini_story:hover {
	border-width: 3px;
	position: relative;
	font-size: 105%;
		color: #3c3c3c;
}

.image_role {
	float: left;
	padding-right: 10px;
}

.image_menu {
	float: left;
	vertical-align: center;
}
.confirm_page {

	text-align: center;
	padding-top: 150px;
	margin: 0 auto;
	max-width: 680px;
}

#character_edit_box, #char_profile_box, .story_box, #story_edit_box {
	border: solid #c0c0c0;
	border-width: 1px;
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 20px;
	max-width: 800px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
}


#story_display {
	margin: 0 auto;
	margin-bottom: 20px;
	max-width: 800px;
	position: relative;
}
.story_box {
	padding-bottom: 0;
	background: #fff;
}

.char_explore_box  {
	text-align: left;
	border: solid #c0c0c0;
	border-width: 1px;
	padding: 20px;
	min-height: 175px;
	margin-bottom: 20px;
	border-radius: 4px;
}

.story_edit {
	margin: 0 auto;

}
.extra_content {
/*	overflow: hidden; */
}

.link_area {
	padding: 20px 0 20px 0;
	text-align: center;
	color: white;
}

.edit_buttons {
	margin: 0 auto;
	max-width: 800px;
	color: inherit;
	position: relative;
}

.titles {
	margin: 0 auto;
	max-width: 800px;
	padding-bottom: 10px;
	color: #00a79d;
}

.contribute {
	padding: 50px 0 50px 0;
	text-align: center;
	min-height: 600px;
	background: #3c3c3c;
	color: white;
}



/*

.footer {
    position:fixed;
    z-index:999;
    bottom:0px;
    left:0px;
    background: #00a79d;
    width:100%;
    height:20px;
    } */




/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/